/* ============================================= */
/*              Color                    */
/* ============================================= */
$white : #fff;
$primary-color :#58e1c1;
$body-color : #777;
$default : #51ddfc;
$error: #e4757a;


/* ============================================= */
/*              Breakpoint                   */
/* ============================================= */
$small-screen : '(min-width: 768px)';


/* ============================================= */
/*              Button-color                   */
/* ============================================= */

$buttons: (
    'default': $default,
    'error': $error,
    'info':#927bc1,
    'success':#63cc82,
    'warning':#fd7856,
)